body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }
  
button {
  margin: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

  .container {
    display: flex;
    flex-wrap: wrap;
    width: 900px; /* Fixed container width */
    height: 900px; /* Fixed container height */
    border: 1px solid #333;
    position: relative;
  }
  
  .square {
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  